.stone {
    &.can-move {
        box-shadow: 0 0 2em #00ff3c;
    }

    &.king {
        background-image:url('icons/crown.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }
}