fieldset {
    margin: 4vh 0;
}

.form-check-input, 
.form-select {
    cursor: pointer;
}

.form-check-label {
    pointer-events: none;
}

.checkbox-right {
    display: flex;
    align-items: center;
    padding-left: 0;
    
    .form-check-input {
        margin-left: 1rem;
        order: 2;
    }
}

.settings-group {
    border: none;
    padding: 0;
    margin-bottom: 0;
}

.settings-group-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid #dee2e6;
}

.form-groups {
    @media (min-width: 768px) {
        border-left: 1px solid #dee2e6;
    }
}

.form-group {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
        padding-left: 1rem;
    }
}

.form-label {
    margin-bottom: 0;
    margin-right: 1rem;
    vertical-align: middle;
}

.form-select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}